body{
	align-items: center;
  text-align: center;
	background:white;
	box-sizing:border-box;
	color: #666;
	cursor: default;
	display: flex;
	font-family: sans-serif;
	justify-content: center;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;

  /* 
  Desabilitar seleção de texto
  -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  */
}
*{
	box-sizing:inherit;
	cursor: inherit;
	transition-duration:.2s;
	transition-property:none;
	transition-timing-function:cubic-bezier(.42,0,.58,1)
}

option {
    text-align: center;
}

#info {
  padding: 10px;
}

.info {text-align: left; font-size: 0.9em;}

h1 {padding: 10px; text-align: center; font-size: 1.2em;}

#myMark {
	background: rgba(0,0,0,0.25);
	bottom: 10px;
	color: #FFF;
	font-size: 12px;
	padding: 5px;
	position: fixed;
	text-decoration: none;
	right: 10px;
  border-radius: 10px;
}

  .button {
    position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: white;
    cursor: pointer;
    background-color:#2d2f31;
    transition: all 0.2s ease;
  }
  
  .button:active {
    transform: scale(0.96);
  }
  
  .button:before,
  .button:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }
  
  .button:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #2d2f31 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #2d2f31 20%, transparent 30%),
      radial-gradient(circle, #2d2f31 20%, transparent 20%),
      radial-gradient(circle, #2d2f31 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #2d2f31 15%, transparent 20%),
      radial-gradient(circle, #2d2f31 20%, transparent 20%),
      radial-gradient(circle, #2d2f31 20%, transparent 20%),
      radial-gradient(circle, #2d2f31 20%, transparent 20%),
      radial-gradient(circle, #2d2f31 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease;
  }
  
  @keyframes greentopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
  
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
  
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  
  .button:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #2d2f31 20%, transparent 20%),
      radial-gradient(circle, #2d2f31 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #2d2f31 15%, transparent 20%),
      radial-gradient(circle, #2d2f31 20%, transparent 20%),
      radial-gradient(circle, #2d2f31 20%, transparent 20%),
      radial-gradient(circle, #2d2f31 20%, transparent 20%),
      radial-gradient(circle, #2d2f31 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
  }
  
  @keyframes greenbottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
  
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
  
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }

  .custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 50x;
    padding: 10px 15px 10px 14px;
    background: #fff url("select-arrows.svg") no-repeat right 16px center;
    background-size: 10px;
    transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
    border: 1px solid #ddd;
    border-radius: 15px;
}
.custom-select:hover {
    border: 1px solid #999;
}
.custom-select:focus {
    border: 1px solid #999;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
    outline: none;
}
/* remove default arrow in IE */
select::-ms-expand {
    display:none;
}
a {
    color: #333;
    font-weight: 700;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.custom-select {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
}

.container {
  border: 10px solid #ddd; /* Adicione uma borda para separar visualmente os carrosséis */
  border-radius: 15px; /* Arredonde as bordas do contêiner */
  max-width: 600px;
}

#container {
  width: 900px; /* Defina a largura desejada para o container */
  height: 700px; /* Defina a altura desejada para o container */
}

#iframe {
  width: 100%; /* Centralizar */
  height: 60%; /* Regular a altura no centro */
  border: none; /* Remova a borda padrão do iframe, se desejar */
}

/* Configuração dos Cards */

.card {
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 35%;
  height: 30%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 10px;
  overflow: hidden;
  border-radius: 10px;
  background: #212121;
  border: 2px solid #313131;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  color: #e8e8e8;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  text-align: justify;
}

.content .heading {
  font-weight: 700;
  font-size: 20px;
}

.content .para {
  line-height: 1.5;
  font-size: 14px;
}

.card:hover {
  box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
  border-color: #0974f1;
}

/* Card Tabela de Anuidades */

.card-anuidades {
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 32%;
  height: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 10px;
  overflow: hidden;
  border-radius: 10px;
  background: #212121;
  border: 2px solid #313131;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}
